<%= render :partial => "page_side_panel" %>
<div id="spotus_page">
  <h2>Contact Us</h2>
  <p>
    We are looking for reporters with strong local pitches. Want to help as a developer? Just want to
    chat? We read everything and will try to respond to every inquiry.
  </p>
  <p> 
  For general information, please contact <strong><a href="mailto:<%=h INFO_EMAIL%>"><%=h INFO_EMAIL%></a></strong>. Also feel free to contact the <strong><a href="mailto:<%=h APP_CONFIG[:email_notifications][:editor][:email]%>"><%=h SITE_NAME%> Director</a></strong>, <%=h APP_CONFIG[:email_notifications][:editor][:name]%>.
  </p>
</div>
